{{ define "content" }}
<h1>
  <a href="/manual" class="colored manual">Manual control</a>
  <a href="/">Irrigation</a>
  <a href="/schedules/new" class="colored new schedule">New schedule</a>
</h1>


  <ul class="valves">
    {{ range .Valves }}
      <li class="valve">
        <h3>
          <a href="/valves/{{ .Id }}">{{ .Title }}</a>
          <a href="/valves/{{ .Id }}/edit" class="rename colored">Rename</a>
        </h3>
        <p class="description">
          There is {{ .ActiveSchedules }} active schedules. This valve is currently
          <strong>
            {{ if .IsOpened }}
              opened
            {{ else }}
              closed
            {{ end }}
          </strong>
        </p>
      </li>
    {{ end }}
  </ul>
{{ end }}
