{{ define "content" }}
  <h1><a href="/">Irrigation</a></h1>

  <a href="/schedules/new">Create a new schedule</a>

  <ul class="valves">
    {{ range .Valves }}
      <li class="valve">
        <h3><a href="/valves/{{ .Id }}">{{ .Title }}</a></h3>
        <p class="description">
          This valve has {{ .ActiveSchedules }} active schedules.
        </p>

        <div class="status">
          {{ if .IsOpened }}
            <span>Opened</span>
            <a href="/valves/{{ .Id }}/close">Close</a>
          {{ else }}
            <span>Closed</span>
            <a href="/valves/{{ .Id }}/open">Open</a>
          {{ end }}
        </div>
      </li>
    {{ end }}
  </ul>
{{ end }}
