{{ define "content" }}

  <h1><a href="/">Irrigation</a></h1>

  <form action="/schedules/{{ .Id }}" method="POST">
    <input type="datetime-local" name="date" value="{{ .DateTimeInputValue }}" />

    <p>Every</p>
    <input type="text" name="interval[multiplicator]" value="{{ .Multiplicator .Interval }}"/>
    <select name="interval[denominator]">
      <option value="second" {{.Selected "second" .Interval }} >Seconds</option>
      <option value="minute" {{.Selected "minute" .Interval }} >Minutes</option>
      <option value="hour" {{.Selected "hour" .Interval }} >Hours</option>
      <option value="day" {{.Selected "day" .Interval }} >Days</option>
      <option value="week" {{.Selected "week" .Interval }} >Weeks</option>
    </select>

    <p>For</p>
    <input type="text" name="length[multiplicator]" value="{{ .Multiplicator .Length }}" />
    <select name="length[denominator]">
      <option value="second" {{.Selected "second" .Length }}>Seconds</option>
      <option value="minute" {{.Selected "minute" .Length }}>Minutes</option>
      <option value="hour" {{.Selected "hour" .Length }}>Hours</option>
      <option value="day" {{.Selected "day" .Length }}>Days</option>
      <option value="week" {{.Selected "week" .Length }}>Weeks</option>
    </select>

    <select name="status">
      <option value="1" {{ selected .Enabled }}>Enabled</option>
      <option value="0" {{ selected .Disabled }}>Disabled</option>
    </select>

    <input type="submit" />

  </form>
{{ end }}
