{{ define "content" }}

  <h1>Edit Schedule</h1>

  <form action="/schedules/{{ .Id }}" method="POST">
    <input type="datetime-local" name="date" value="{{ .DateTimeInputValue }}" />

    <p>Every</p>
    <input type="text" name="interval[multiplicator]" value="{{ .Interval }}"/>
    <select name="interval[denominator]">
      <option value="second">Seconds</option>
      <option value="minute">Minutes</option>
      <option value="hour">Hours</option>
      <option value="day">Days</option>
      <option value="month">Months</option>
    </select>

    <p>For</p>
    <input type="text" name="length[multiplicator]" value="{{ .Length }}" />
    <select name="length[denominator]">
      <option value="second">Seconds</option>
      <option value="minute">Minutes</option>
      <option value="hour">Hours</option>
      <option value="day">Days</option>
      <option value="month">Months</option>
    </select>

    <input type="submit" />

  </form>
{{ end }}
