@font-face {
  font-family: "Parchment";
  src: url("/assets/fonts/ParchmentMF.ttf");
}

body {
    background: #E8E2CD;
    color: #736C57;
}

a {
  color: #736C57;
}

a.colored {
  color: #6E819A;
}

h1 {
  text-align: center;
  font-family: "Parchment";
  font-size: 4.5em;
  position: relative;
}

h1 a {
  text-decoration: none;
}

h1 a.manual, h1 a.new.schedule {
  font-family: "Helvetica";
  font-size: 1.0rem;
  text-decoration: underline;
  position: absolute;
  top: 24px;
}

h1 .manual {
  left: 10%;
}

h1 .new.schedule {
  right: 10%;
}

ul {
    list-style-type: none;
}

ul.valves, ul.schedules, form {
  width: 90%;
  margin: 0 5%;
  border-radius: 4px;
  border-bottom: 1px solid #FFF;
  background: #E8E0C6;
  box-shadow: 0 -1px 0 1px #888;
  padding: 0;
}

li {
  padding: 12px 24px;
  border-bottom: 1px solid #D5CDB9;
  position: relative;
}

li h3 {
  position: relative;
  font-size: 2.0em;
  margin: 0 0 1.0em 0;
}

li h3 a.rename {
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 1.2rem;
}

li:last-child {
  border-bottom: none;
}

li.valve a.button {
  height: 28px;
  box-sizing: border-box;
  padding: 4px 8px;
  position: absolute;
  right: 12px;
  top: calc(50% - 14px);
  top: -webkit-calc(50% - 14px);
  border: 1px solid #D5CDB9;
  border-radius: 4px;
  background: #736C57;
  box-shadow: 0 -1px 0 0px #FFF, 0 1px 0 0px #aaa;
  color: #E8E2CD;
  text-decoration: none;
}

li.valve a.button:active {
  box-shadow: none;
}

form h2 {
  padding: 12px;
  text-align: center;
}

form > .input {
  margin: 0 10% 32px 10%;
  text-align: center;
}
form > .input > input[type=text] {
  width: 50%;
  font-size: 1.1em;
  line-height: 1.3em;
}

form.schedule {
  box-sizing: border-box;
  padding: 0 24px;
}

form.schedule .time.input {
  border: 1px inset rgb(238,238,238);
  background: #FFF;
  height: 1.3em;
  display: inline-block;
}

form.schedule div.row label {
  width: 50%;
  text-align: right;
  padding: 0 24px 1.4em 0;
  display: inline-block;
}

form.schedule div.row .time.input input[type=text] {
  border: none;
  outline: none;
  background: none;
}

form.schedule input[type=submit] {
  width: 90%;
  margin: 2% 5%;
}
