@import 'bourbon';
@import 'variables';
@import 'fonts';
@import 'shared/**/*';
@import 'zones/**/*';

html {
  height: 100%;
  color: $color;
  font-family: Helvetica Neue;
  font-weight: lighter;
}

html, body {
  @include background(linear-gradient(top, #C5F7C5, #47532D));
  margin: 0;
  padding: 0;
}

html, body, main {
  @include display(flex);
  @include flex(1);
  @include flex-direction(column);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

h1 {
  font-size: 4.5em;
  text-shadow: 0 1px 3px #6AB35D;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    padding: 1em;
  }
}

h1 {
  margin: 1em 0.5em;
}
