{{ define "content" }}

  <h1><a href="/">Irrigation</a></h1>
  <h2>Schedules for {{ .Valve.Title }}</h2>
  
  <ul class="schedules">
    
    {{ range .Schedules }}
      <li>
        {{ if .Disabled }}
          <strong>Disabled. </strong>
        {{ end }}
        Starting {{ formatTime .StartTime "Mon Jan 2 15:04:05" }}, this valve will open every {{ .Multiplicator .Interval }} {{ .Denominator .Interval }} for {{ .Multiplicator .Length }} {{ .Denominator .Length }}.
        <a href="/schedules/{{ .Id }}/edit">Edit</a>
      </li>
    {{ end }}
  </ul>
{{ end }}

